.user-page {
    height: 92vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.graph {
    padding: 20px 40px;
}

canvas {
    width: 40%;
    height: 600px;
}